* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  color: #fff;
  font-family: "Press Start 2P", system-ui;
}

.page {
  padding: 30px 40px 40px;
}

/* HEADER */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.logo {
  font-size: 22px;
  letter-spacing: 3px;
  font-family: "Sixtyfour", sans-serif;
  font-weight: 300;
}

.nav-tabs {
  display: flex;
  gap: 32px;
  font-size: 12px;
}

.nav-tabs a {
  text-decoration: none;
  color: #ccc;
  cursor: pointer;
}

.nav-tabs a.active {
  color: #1a3bf6;
}

/* MAIN TITLE */

.main-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 25px;
  letter-spacing: 4px;
  font-family: inherit; /* same as nav font */
}

/* VISUAL AREA */

.visual-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.visual-box {
  width: 80%;
  max-width: 900px;
  height: 320px;
  border: 4px solid #2130ff;
  position: relative;
  background: #000;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  white-space: nowrap;
}

/* .visual-box::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #00ff40;
  clip-path: polygon(0 100%, 100% 60%, 100% 100%);
} */

/* CONTROLS */

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin-bottom: 40px;
}

/* Array size slider */

.array-size-control {
  display: flex;
  align-items: center;
  gap: 15px;
}

.array-size-control input[type="range"] {
  width: 180px;
  -webkit-appearance: none;
  appearance: none;
  height: 6px;
  background: #777;
  border-radius: 3px;
  outline: none;
}

.array-size-control input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 4px;
  background: #e4e4e4;
  cursor: pointer;
}

.array-size-control input[type="range"]::-moz-range-thumb {
  width: 22px;
  height: 22px;
  border-radius: 4px;
  background: #e4e4e4;
  cursor: pointer;
  border: none;
}

/* Speed slider */

.speed-control {
  display: flex;
  align-items: center;
  gap: 15px;
  min-width: 260px;
}

.speed-control input[type="range"] {
  width: 180px;
  -webkit-appearance: none;
  appearance: none;
  height: 6px;
  background: #555;
  border-radius: 3px;
  outline: none;
}

.speed-control input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 4px;
  background: #e4e4e4;
  cursor: pointer;
}

.speed-control input[type="range"]::-moz-range-thumb {
  width: 22px;
  height: 22px;
  border-radius: 4px;
  background: #e4e4e4;
  cursor: pointer;
  border: none;
}

.speed-label {
  font-size: 12px;
}

/* Buttons */

.square-btn {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

.green {
  background: #00ff40;
}
.green:active{
  background: #004b13;
}
.red {
  background: #ff0000;
}
.red:active{
  background: #600202;
}
.yellow{
  background: yellow;
}
.yellow:active{
  background: rgb(128, 115, 0);
}
/* COMPLEXITY TEXT */

.complexity {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 60px;
  font-size: 14px;
  letter-spacing: 2px;
}

.time-complexity,
.space-complexity {
  font-family: inherit; /* same as nav/title */
}
.bar {
  flex: 1;
  background: #00ff40;
  margin: 0 1px;
  display: inline-block;
}
